/* src/components/EventList.css */
.event-list-container {
    max-width: 400px;
    padding: 16px;
    background-color: #f4f6f8;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .event-list-container h2 {
    margin-bottom: 16px;
  }
  
  .add-action-button,
  .view-more-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 16px;
    font-size: 16px;
    color: white;
    background-color:#019add;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .view-more-button {
    background-color: rgba(226, 234, 248, 1);
    color: #202224;
  }
  
  .event-list {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  